{% extends "catalogue/browse.html" %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load i18n %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}

    {% if category.description %}
    <div class="jumbotron"><p class="lead">{{ category.description|default:""|striptags }}</p></div>
    {% endif %}

    {% if category.image %}
        {% image category.image fill-800x450 as categoryimage %}
        <img src="{{ categoryimage.url }}" alt="{{ category.name }}" class="img-responsive" />
    {% endif %}

    {% for block in category.body %}

        {% if block.block_type == 'heading' %}
            <h2>{{ block }}</h2>
        {% endif %}

        {% if block.block_type == 'paragraph' %}
            <div class="jumbotron"><p class="lead">{{ block }}</p></div>
        {% endif %}

        {% if block.block_type == 'image' %}
            {% image block.value fill-800x450 %}
        {% endif %}

        {% if block.block_type == 'product_block' %}
            {% include 'demo/includes/product_block.html' with blocks=block %}
        {% endif %}

    {% endfor %}

    <hr>

    <h2>All {{ self.title }}</h2>
    {{ block.super }}
{% endblock %}
